---
import Aboutpage from '../components/Aboutpage.astro';
import Layout from '../layouts/Layout.astro';
---
<Layout>
<div class="container"></div>
<h1 class="landing-title">About this Page</h1>
<p class="landing-welcome">This Page is pretty much based on Vorlie's private design that he didn't bother sharing (Thanks Vorlie) and pretty much edited to my liking so it looks epic, there's nothing cool or interesting, just something I made while bored, with a help of a friend<br />
</Layout>