<astro>
<div class="container"></div>
<div class="column-middle">
<h1 class="landing-title">About Page</h1>
<p class="landing-about-desc">
    This Page is pretty much based on Vorlie's private design that he didn't
    bother sharing (Thanks Vorlie) and pretty much edited to my liking so it
    looks epic, there's nothing cool or interesting, just something I made while
    bored, with a help of a friend, I probably couldn't do it alone, I'm too dumb for that... not gonna lie. hahahah...
    (btw. Thanks Vorlie, you really helped.)
</p>
</div>
</astro>
