<astro>
  <div class="dvop">
    <img id="avatar" src="/images/default.jpg" alt="User Avatar" />
    <img id="avatar-deco" src="/images/decor.png" />
    <div class="userinfo">
      <p style="margin: 4px auto;font-weight: 600;font-size: 20px;">
        <a
          href="https://discord.com/users/410475909125242901"
          target="_blank"
          style="color: var(--color-link);"
          >Damned Lurker✨
        </a>
        <br />
        <span style="color: var(--color-primary);">@dvop</span>
      </p>
    </div>
  </div>
</astro>

<style></style>
<script src="/src/scripts/lanyard/updateLanyard.ts"></script>
