<nav id="navbar">
    <a id="logo" href="/">
        <span>What an absolutely useless site.</span>
    </a>
    <ul>
        <li><a href="/">Main Page</a></li>
        <li><a href="/about">About The Page</a></li>
    </ul>
</nav>