<div class="container landing-page">
  <h1 class="landing-title">Dvop</h1>
  <div class="landing-divider"></div>
  <p class="landing-welcome">
    A Dumb (with capital D), unimportant person  <br />
    <span class="landing-placeholder"
      >Hi, I'm Dvop, I hate myself, idk what to tell you, this is just a I can do it I guess? project</span
    >
  </p>

  <section class="landing-section">
    <h2 class="landing-section-title">More Useless Info about me!</h2>
    <p class="landing-section-desc">
    Well, uh I got friends? (atleast 3), I'm ex league addict, currently running CachyOS on my main rig
    </p>
  </section>

  <section class="landing-section">
    <h2 class="landing-section-title">Who am I?</h2>
    <ul class="landing-list">
      <li class="landing-list-item">
      <li class="landing-list-item landing-placeholder">
      Just a random internet troll who loves pissing people off I dunno what else I should say, if you know me, you know me, congrats.
      </li>
    </ul>
  </section>

  <section class="landing-section">
    <h2 class="landing-section-title">Contact</h2>
    <p class="landing-section-desc">
      [Add your contact information or a contact form here]
    </p>
  </section>

  <p class="landing-wip">
    This website is currently (and probably forever) <strong>WIP</strong>
  </p>
</div>
