---
import Lanyard from './Lanyard.astro';
import Guestbook from '../components/guestbook.astro';
import GuestbookForm from '../components/GuestbookForm.astro';
import CurrentlyPlaying from './CurrentlyPlaying.astro';
import GuestbookEntries from './GuestbookEntries.astro';
import DebugMenu from './DebugMenu.astro';
---

<div class="container landing-page">
  <div class="column-left">
    <section class="landing-section">
      <h2 class="landing-section-title">My friends</h2>
      <p class="landing-section-desc">
        <img src="/images/frank.png" alt="my button" width="88" height="31" loading="lazy" />
        <a href="https://vorlie.pl/" target="_blank"><img src="https://vorlie.pl/images/vorlie.png" alt="vorlie button" width="88" height="31" loading="lazy" /></a>
        <a href="https://maggiepi.fyi" target="_blank"><img src="https://maggiepi.fyi/88x31s/maggie8831.gif" alt="Maggie button" width="88" height="31" loading="lazy" /></a>
        <a href="https://aveline.fish/" target="_blank"><img src="/images/velbutton.gif" alt="Vel Button" width="88" height="31" loading="lazy" /></a>
        <a href="https://byeoon.dev" target="_blank"><img src="https://byeoon.dev/img/button.png" alt="B(ottom)yeoon" width="88" height="31" loading="lazy" /></a>
        <a href="https://pre1ude.dev" target="_blank"><img src="https://pre1ude.dev/blankie.png" alt="Laura" height="31" width="88" alt="pre1ude.dev" /></a>
        </p>
    </section>
    
    <section class="landing-section">
      <div class="section-header">
        <h2 class="landing-section-title">Currently Playing</h2>
        <a href="https://www.last.fm/user/Dvopp" target="_blank" class="lastfm-button">
          Last.fm
        </a>
      </div>
      <CurrentlyPlaying />
    </section>
    <section class="landing-section">
      <h2 class="landing-section-title">Sign Guestbook (pls I beg u)</h2>
      <GuestbookForm />
    </section> 
    <section class="landing-section">
      <h2 class="landing-section-title">Links & Contact</h2>
      <div class="contact-buttons">
        <a href="mailto:2259fd108@mozmail.com" class="mail-button">
          <i class="bi bi-envelope"></i>
          Email me
        </a>
      </div>
      <hr>
      <div class="social-buttons">
        <a class="link-button" href="https://discord.com/users/410475909125242901" target="_blank">
          <i class="bi bi-discord"></i>
        </a>
        <a class="link-button" href="https://github.com/dvopheh" target="_blank">
          <i class="bi bi-github"></i>
        </a>
        <a class="link-button" href="https://steamcommunity.com/id/Dvopmensineztri/" target="_blank">
          <i class="bi bi-steam"></i>
        <a class="link-button" href="https://twitch.tv/dvop_/" target="_blank">
          <i class="bi bi-twitch"></i>
        </a>
      </div>
      <hr>     
      <p class="landing-wip">
        This Site is and forever will be <strong>WIP</strong>
      </p>
    </section>
  
  </div>
  
  <div class="column-middle">
    <section class="landing-section lanyard-section">
      <Lanyard />
    </section>
    <section class="landing-section">
      <h2 class="landing-section-title">More Useless Info about me!</h2>
      <p class="landing-section-desc">
      Well, uh I got friends? (atleast 3), currently running Arch (I Use Arch btw.) and Win 10 on my main rig since league and other kernel level anticheats (fuck those.)
      </p>
    </section>

    <section class="landing-section">
      <h2 class="landing-section-title">Who am I?</h2>
      <ul class="landing-list">
        <li class="landing-list-item">
        <li class="landing-section-desc">
        Idk, a very boring and unimportant person, seriously man, why would you wanna know me? I have diabetes... idk what to tell you, but In case you do know me, congrats. Proud of you
        </li>
      </ul>
    </section>
    <section class="landing-section">
      <h2 class="landing-section-title">Guestbook</h2>
      <GuestbookEntries />
    </section>
  </div>

  <div class="column-right">
    <section class="landing-section">
      <h2 class="landing-section-title">PC Specs</h2>
      <p class="landing-section-desc">
        <ul class="landing-list">
          <li class="landing-list-item"><a href="https://gamemaxpc.com/alpha/931.html" target="_blank"><i class="bi bi-box"></i></a> Case - Gamemax Draco XD</li>
          <li class="landing-list-item"><a href="https://www.asus.com/motherboards-components/motherboards/tuf-gaming/tuf-gaming-b450-plus-ii/" target="_blank"><i class="bi bi-motherboard"></i></a> MOBO - Asus TUF B450-Plus II</li>
          <li class="landing-list-item"><a href="https://www.amd.com/en/products/processors/desktops/ryzen/5000-series/amd-ryzen-5-5600x.html" target="_blank"><i class="bi bi-cpu"></i></a> CPU - AMD Ryzen 5 5600x</li>
          <li class="landing-list-item"><a href="https://www.kingston.com/en/memory/gaming/kingston-fury-beast-ddr4-memory" target="_blank"><i class="bi bi-memory"></i></a> RAM - Kingston Fury 32GB (4x8) 3600Mhz</li>
          <li class="landing-list-item"><a href="https://www.asus.com/graphics-cards/dual-rx6600-8g/" target="_blank"><i class="bi bi-gpu-card"></i></a> GPU - ASUS Radeon RX6600 8gb</li>
          <li class="landing-list-item"><a href="https://www.corsair.com/us/en/p/psu/cp-9020277-na/rm750e-2023-80-plus-gold-fully-modular-low-noise-atx-power-supply-750-watt-cp-9020277-na" target="_blank"><i class="bi bi-power"></i></a> PSU - Corsair RM750e</li>
          <li class="landing-list-item"><a href="https://www.apacer.com/en/product/personal-product/detail/personal_ssd/as2280q4x" target="_blank"><i class="bi bi-device-ssd"></i></a> M.2 NVMe - Apacer AS2280Q4X 2TB (Running Linux)</li>
          <li class="landing-list-item"><a href="https://www.patriotmemory.com/products/burst-elite-sata-iii-2-5-ssd" target="_blank"><i class="bi bi-device-ssd"></i></a> SSD - Patriot Burst 120GB (Running Windows 10)</li>
          <li class="landing-list-item"><i class="bi bi-device-hdd"></i></a> HDD - TOSHIBA DT01ACA100 1TB</li>
          <li class="landing-list-item"><a href="https://www.mi.com/global/product/xiaomi-gaming-monitor-g27i/" target="_blank"><i class="bi bi-display"></i></a> 2 Xiaomi P27FBB-RGGL Monitors</li>
          <li class="landing-list-item"><a href="https://www.logitech.com/en-us/products/mice/g305-lightspeed-wireless-gaming-mouse.html" target="_blank"><i class="bi bi-mouse"></i></a> Mouse - Logitech G305</li>
          <li class="landing-list-item"><a href="https://old.darkproject.eu/keyboards/dark-project-kd83a-blue/" target="_blank"><i class="bi bi-keyboard"></i></a> Keyboard - Dark Project KD83A</li>
          <li class="landing-list-item"><a href="https://fifinemicrophone.com/products/fifine-t732-studio-usb-microphone-kit?_pos=1&_sid=472a709f2&_ss=r" target="_blank"><i class="bi bi-mic"></i></a> Microphone - Fifine T732</li>
          <li class="landing-list-item"><a href="https://www.czc.cz/czc-gaming-seraphim/362415/produkt" target="_blank"><i class="bi bi-headphones"></i></a> Headphones - CZC.gaming Seraphim</li>
        </ul>
      </p>
    </section>
    
    <section class="landing-section">
      <h2 class="landing-section-title">Accessories and other devices I own</h2>
      <ul class="landing-list">
        <li class="landing-list-item"><a href="https://store.google.com/product/pixel_8_pro" target="_blank"><i class="bi bi-phone"></i></a> Main Phone - Google Pixel 8 Pro [Husky] (Running AxionOS + KSUN)</li>
        <li class="landing-list-item"><a href="https://www.sony.co.uk/electronics/support/mobile-phones-tablets-mobile-phones/xperia-xa2" target="_blank"><i class="bi bi-phone"></i></a> Backup + Testing phone - Sony Xperia XA2 H3113 [Pioneer] (Running SailfishOS)</li>
        <li class="landing-list-item"><a href="https://my.infinixmobility.com/NOTE-12-2023" target="_blank"><i class="bi bi-phone"></i></a> Phone for apps that need strong integrity - Infinix Note 12 2023 [Don't know it's codename] (stock)</li>
        <li class="landing-list-item"><a href="https://www.sony.co.th/en/electronics/support/mobile-phones-tablets-mobile-phones/xperia-z1-compact" target="_blank"><i class="bi bi-phone"></i></a> Silly Old Phone (sits on my desk) - Sony Xperia Z1 Compact [Amami] (Pixel Experience + Magisk Delta [somehow])</li>
        <li class="landing-list-item"><a href="https://en.wikipedia.org/wiki/Xbox_360" target="_blank"><i class="bi bi-xbox"></i></a> Xbox 360 Phat (no RGH)</li>
        <li class="landing-list-item"><a href="https://en.wikipedia.org/wiki/PlayStation_(console)" target="_blank"><i class="bi bi-playstation"></i></a> Playstation 1 (currently broken)</li>
        <li class="landing-list-item"><a href="https://www.myearfun.com/headphones/earfun-air-pro-3-le-audio-anc-true-wireless-earbuds-black" target="_blank"><i class="bi bi-earbuds"></i></a> Earphones - Earfun Air Pro 3 (for phone)</li>
        <li class="landing-list-item"><a href="https://www.mobvoi.com/eu/pages/ticwatchpro3ultra" target="_blank"><i class="bi bi-smartwatch"></i></a> Smartwatch - TicWatch Pro 3 Ultra GPS</li>
        <li class="landing-list-item"><a href="https://www.tandemdiabetes.com/products/t-slim-x2-insulin-pump" target="_blank"><i class="bi bi-fuel-pump"></i></a> Insulin pump - T:Slim X2 Insulin pump</li>
      </ul>
    </section>
  </div>
  
</div>

<DebugMenu />

<script>
  import '../scripts/easter-egg.ts';
  import '../scripts/time-based-easter-egg.ts';
  import '../scripts/konami-easter-egg.ts';
  import '../scripts/sudo-easter-egg.ts';
</script>
